{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom gap-3">
    <h2>فاتورة جديدة</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button type="submit" form="invoice_form" class="btn btn-outline-success"><i class="fa-regular fa-floppy-disk"></i> حفظ </button>
        </div>
    </div>
</div>
<form action="" method="POST" id="invoice_form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.store.id_for_label }}" class="form-label"> المتجر</label>
        {{ form.store }}
        {% if form.store.errors %}
            {% for error in form.store.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label"><i class="fa-solid fa-user"></i> الإسم</label>
                {{ form.name }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.address_one.id_for_label }}" class="form-label"><i class="fa-solid fa-location-dot"></i> العنوان الأول</label>
                {{ form.address_one }}
                {% if form.address_one.errors %}
                    {% for error in form.address_one.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.address_two.id_for_label }}" class="form-label"><i class="fa-solid fa-location-dot"></i> العنوان الثاني</label>
                {{ form.address_two }}
                {% if form.address_two.errors %}
                    {% for error in form.address_two.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.city.id_for_label }}" class="form-label"><i class="fa-solid fa-city"></i> المدينة</label>
                {{ form.city }}
                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.mobile_number.id_for_label }}" class="form-label"><i class="fa-solid fa-phone"></i> رقم الهاتف</label>
                {{ form.mobile_number }}
                {% if form.mobile_number.errors %}
                    {% for error in form.mobile_number.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="my-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="{{ form.invoice_number.id_for_label }}" class="form-label"><i class="fa-solid fa-receipt"></i> رقم الفاتورة</label>
                {{ form.invoice_number }}
                {% if form.invoice_number.errors %}
                    {% for error in form.invoice_number.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <label for="status" class="form-label"><i class="fa-solid fa-signal"></i> الحالة</label>
                <select name="status" class="form-control {% if form.status.errors %} is-invalid {% endif %}" id="status">
                    <option {% if not form.status.value %} selected {% endif %} value="">---------</option>
                    <option {% if 'U' == form.status.value %} selected {% endif %} value="U">غير مدفوع</option>
                    <option {% if 'P' == form.status.value %} selected {% endif %} value="P">مدفوع</option>
                </select>
                {% if form.status.errors %}
                    {% for error in form.status.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="{{ form.invoice_date.id_for_label }}" class="form-label"><i class="fa-solid fa-calendar-days"></i> تاريخ الفاتورة</label>
                    <div class="form-check form-switch">
                        <input name="show_invoice_time" class="form-check-input" type="checkbox" role="switch" id="show_invoice_time" {% if form.show_invoice_time.value %} checked {% endif %}>
                        <label class="form-check-label" for="show_invoice_time">عرض الوقت</label>
                    </div>
                </div>
                {{ form.invoice_date }}
                {% if form.invoice_date.errors %}
                    {% for error in form.invoice_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.invoice_time }}
                {% if form.invoice_time.errors %}
                    {% for error in form.invoice_time.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="{{ form.due_date.id_for_label }}" class="form-label"><i class="fa-solid fa-calendar-days"></i> تاريخ الاستحقاق</label>
                    <div class="form-check form-switch">
                        <input name="show_due_time" class="form-check-input" type="checkbox" role="switch" id="show_due_time" {% if form.show_due_time.value %} checked {% endif %}>
                        <label class="form-check-label" for="show_due_time">عرض الوقت</label>
                    </div>
                </div>
                {{ form.due_date }}
                {% if form.due_date.errors %}
                    {% for error in form.due_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.due_time }}
                {% if form.due_time.errors %}
                    {% for error in form.due_time.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <label for="{{ form.date_of_supply.id_for_label }}" class="form-label"><i class="fa-solid fa-calendar-days"></i> تاريخ التوريد</label>
                    <div class="form-check form-switch">
                        <input name="show_time_of_supply" class="form-check-input" type="checkbox" role="switch" id="show_time_of_supply" {% if form.show_time_of_supply.value %} checked {% endif %}>
                        <label class="form-check-label" for="show_time_of_supply">عرض الوقت</label>
                    </div>
                </div>
                {{ form.date_of_supply }}
                {% if form.date_of_supply.errors %}
                    {% for error in form.date_of_supply.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.time_of_supply }}
                {% if form.time_of_supply.errors %}
                    {% for error in form.time_of_supply.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock content %}