version: "3.9" # Docker Compose version
services:
  web:
    build: .
    restart: always
    ports:
      - "8000:8000"
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    # depends_on:
    #   - db
    environment:
      - DJANGO_SETTINGS_MODULE=mysite.settings.local
      # - POSTGRES_DB=postgres
      # - POSTGRES_USER=postgres
      # - POSTGRES_PASSWORD=postgres
  
  # db:
  #   image: postgres:14
  #   restart: always
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data/
  #   environment:
  #     - "POSTGRES_HOST_AUTH_METHOD=trust"
  #     - POSTGRES_DB=postgres
  #     - POSTGRES_USER=postgres
  #     - POSTGRES_PASSWORD=postgres

  rabbitmq:
    image: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  celery:
    build:
      context: .
    restart: always
    volumes:
      - .:/code
    command: celery -A mysite worker -l info
    depends_on:
      - rabbitmq
      - web

# volumes:
#   postgres_data:


