{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>قائمة المنتجات</h2>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        <div class="btn-group me-2">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-success rounded-start"><i class="fa-regular fa-floppy-disk"></i> حفظ</button>
            <label for="file" class="btn btn-sm btn-outline-secondary">
                <input id="file" class="d-none" type="file" name="excel_file" required><i class="fa-solid fa-file-csv"></i> رفع ملف
            </label>
            </div>
        </form>
    </div> -->
</div>


<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col"> البند</th>
                <th scope="col"> الوصف</th>
                <th scope="col"> السعر</th>
                <th scope="col"> الكمية</th>
                <th scope="col"><i class="fa-solid fa-calendar-days"></i> تاريخ الإضافة</th>
                <th scope="col"><i class="fa-solid fa-calendar-days"></i> آخر تعديل</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description|truncatechars:20 }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.created_at|date:"H:i:s Y-m-d" }}</td>
                <td>{{ product.updated_at|date:"H:i:s Y-m-d" }}</td>
                <td class="d-flex gap-1">
                    <a href="{% url 'product:edit' product.pk %}" class="btn btn-sm btn-dark"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="{% url 'product:delete' product.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="9">لا يوجد منتجات</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Start pagination -->
{% include 'pagination.html' with page=products %}
<!-- End pagination -->
{% endblock content %}