{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    .color-select {
        border: 2px solid #3E3E3E;
        padding: 0 10px;
    }

    .color-select>span {
        text-transform: uppercase;
        padding: 8px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .color-select>span span {
        margin-top: -8px
    }

    .color-select ul {
        width: 100%;
        overflow: visible;
        padding: 0;
        border-top: 1px solid #3E3E3E;
        display: none;
    }

    .color-select ul:after {
        content: "";
        display: table;
        clear: both;
    }

    .color-select ul li,
    .color-select>span span {
        list-style: none;
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
        background: #fff;
        float: left;
        margin: 0 12px;
        cursor: pointer;
        position: relative;
    }

    .color-select ul li {
        margin-top: 25px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .color-select ul li span {
        display: none;
    }

    .color-select ul li:hover {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }
</style>
{% endblock styles %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom gap-3">
    <h2>تعديل المتجر</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group">
            <button type="submit" form="store_form" class="btn btn-outline-success"><i class="fa-regular fa-floppy-disk"></i> حفظ </button>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#importModal">
                <i class="fa-solid fa-file-csv"></i>
                استيراد فواتير 
            </button>
            {% if invoices %}
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exportModal">
                <i class="fa-solid fa-download"></i>
                تصدير فواتير 
            </button>
            {% endif %}
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-trash"></i>
                حذف المتجر 
            </button>
        </div>
    </div>
</div>

<form action="" method="POST" id="store_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <div class="mb-3">
            <img class="rounded border shadow-sm" src="{{ form.logo.value.url }}" width="150">
        </div>
        <input type="file" name="logo" class="form-control {% if form.logo.errors %} is-invalid {% endif %}" accept="image/*">
        {% if form.logo.errors %}
            {% for error in form.logo.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label"><i class="fa-solid fa-store"></i> إسم المتجر</label>
                {{ form.name }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="{{ form.tax_number.id_for_label }}" class="form-label"><i class="fa-solid fa-file-invoice"></i> الرقم الضريبي</label>
                {{ form.tax_number }}
                {% if form.tax_number.errors %}
                    {% for error in form.tax_number.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="{{ form.commercial_record.id_for_label }}" class="form-label"><i class="fa-solid fa-file-invoice"></i> السجل التجاري</label>
                {{ form.commercial_record }}
                {% if form.commercial_record.errors %}
                    {% for error in form.commercial_record.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
                <label for="{{ form.address.id_for_label }}" class="form-label"><i class="fa-solid fa-location-dot"></i> العنوان</label>
                {{ form.address }}
                {% if form.address.errors %}
                    {% for error in form.address.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</form>
<hr>
<div class="row justify-content-between gap-3">
    <div class="col-sm-7">
        <span class="h5">قائمة فواتير "{{ form.name.value }}" &nbsp;</span>
        <span class="badge bg-secondary">عدد الفواتير ({{ invoices_count }})</span>
    </div>
    {% if invoices %}
    <div class="col-sm-3">
        <div class="text-sm-start text-md-end">
            <button data-bs-toggle="modal" data-bs-target="#delete_all_invoices" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i>
                حذف كل الفواتير
            </button>
        </div>
    </div>
    {% endif %}
</div>
<hr>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col"><i class="fa-solid fa-user"></i> الاسم </th>
                <th scope="col"><i class="fa-solid fa-percent"></i> الضريبة</th>
                <th scope="col"> القيمة</th>
                <th scope="col"><i class="fa-solid fa-signal"></i> الحالة</th>
                <th scope="col"><i class="fa-solid fa-calendar-days"></i> التاريخ</th>
                <th scope="col"><i class="fa-solid fa-receipt"></i> رقم الفاتورة</th>
                <th scope="col"><i class="fa-solid fa-pen"></i> ملاحظة</th>
                <th scope="col"><i class="fa-solid fa-phone"></i> رقم الهاتف</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.name }}</td>
                <td>%15</td>
                <td>{{ invoice.total }}</td>
                <td>
                    {% if invoice.status == 'P' %}
                    <span class="badge bg-success">مدفوعة</span>
                    {% elif invoice.status == 'U' %}
                    <span class="badge bg-danger">غير مدفوعة</span>
                    {% endif %}
                </td>
                <td>
                    {% if invoice.invoice_date %}
                        {{ invoice.invoice_date|date:"Y-m-d" }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.all_total }}</td>
                <td>
                    {% if invoice.mobile_number %}
                        {{ invoice.mobile_number }}+
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-info" href="{% url 'edit' invoice.id %}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center" colspan="9">لا يوجد فواتير</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Start pagination -->
{% include 'pagination.html' with page=invoices %}
<!-- End pagination -->

<!-- Modal delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> حذف "{{ form.name.value }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من الحذف ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> إغلاق</button>
                <form action="{% url 'stores:delete' store_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> تأكيد الحذف</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal import -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> استيراد فواتير "{{ form.name.value }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'stores:upload_for_store' store_id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <label class="form-label" for="file"><i class="fa-solid fa-file-csv"></i> استيراد ملف اكسل</label>
                    <input id="file" class="form-control" type="file" name="excel_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> إغلاق</button>
                    <button type="submit" class="btn btn-primary"> تأكيد </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if invoices %}
<!-- Modal export -->
<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> تصدير فواتير "{{ form.name.value }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'stores:edit' form.slug.value %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="zip" checked hidden>
                <div class="modal-body">
                    <div class="mb-3 pb-3 border-bottom">
                        <label class="form-label">اختر نموذج الـ PDF</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model_pdf" id="model_pdf_1" value="model_pdf_1" checked>
                            <label class="form-check-label" for="model_pdf_1">
                                نموذج الأول
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="model_pdf" id="model_pdf_2" value="model_pdf_2">
                            <label class="form-check-label" for="model_pdf_2">
                                نموذج الثاني
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون نص القسم الأول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_text_section_1" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون خلفية القسم الأول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_background_section_1" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون نص القسم الثاني</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_text_section_2" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون خلفية القسم الثاني</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_background_section_2" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون نص الشريط العلوي في الجدول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_text_top_bar" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون خلفية الشريط العلوي في الجدول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_background_top_bar" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون نص الشريط السفلي في الجدول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_text_bottom_bar" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">لون خلفية الشريط السفلي في الجدول</label>
                        <div class="bg-dark select-container rounded">
                            <select class="select-color" name="color_background_bottom_bar" data-colorselect>
                                <option value=""></option>
                                <option value="#ffffff">أبيض</option>
                                <option value="#eeeeee">رمادي فاتح</option>
                                <option value="#7f8c8d">رمادي</option>
                                <option value="#3498db">أزرق</option>
                                <option value="#34495e">أزرق غامق</option>
                                <option value="#f1c40f">أصفر</option>
                                <option value="#2ecc71">أخضر</option>
                                <option value="#e67e22">برتقالي</option>
                                <option value="#e74c3c">أحمر</option>
                                <option value="#1abc9c">فيروزي</option>
                                <option value="#9b59b6">أرجواني</option>
                                <option value="#000000">أسود</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> إغلاق</button>
                    <button type="submit" class="btn btn-primary"> تصدير كل الفواتير  </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete all invoices -->
<div class="modal fade" id="delete_all_invoices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> حذف فواتير "{{ form.name.value }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل انت متأكد من الحذف جميع الفواتير ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> إغلاق</button>
                <form action="{% url 'stores:delete_all_invoices' store_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> تأكيد الحذف </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if task_id %}
<div style="bottom: 20px; right: 20px;" class="toast fade show position-fixed p-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">شريط التقدم</strong>
    </div>
    <div class="toast-body">
        <!-- Start progress -->
        <div class="progress-wrapper progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
        </div>
        <div id="progress-bar-message"></div>
        <br>
        <b class="text-danger">
            ملاحظة: الرجاء البقاء في نفس الصفحة لحين انتهاء وعدم اجراء اي تعديل ... سوف يتم تحويلك بشكل تلقائي.
        </b>
        <!-- End progress -->
    </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $.fn.colorSelect = function () {
        function build($select) {
            var html = '';
            var listItems = '';

            $select.find('option').each(function () {
                if (this.value) {
                    listItems += '' +
                    '<li style="background:' + this.value + '" data-colorVal="' + this.value + '">' +
                    '<span>' + this.text + '</span>' +
                    '</li>'
                    ;
                }
                
            });

            html = '' +
                '<div class="color-select rounded">' +
                '<span style="color: #fff;">اختر اللون</span>' +
                '<ul>' + listItems + '</ul>' +
                '</div>'
                ;
            return html;
        }

        this.each(function () {
            var $this = $(this);
            $this.hide();
            $this.after(build($this));
        });
    };

    $(document)
        .on('click', '.color-select > span', function () {
            $(this).siblings('ul').toggle();
        })
        .on('click', '.color-select li', function () {
            var $this = $(this);
            var color = $this.attr('data-colorVal');
            var colorText = $this.find('span').text();
            var $value = $this.parents('.color-select').find('span:first');
            var $select = $this.parents('.color-select').prev('select');

            $value.text(colorText);
            $value.append('<span style="background:' + color + '"></span>');
            $this.parents('ul').hide();
            $select.val(color);
        });

    $(function () {
        $('[data-colorselect]').colorSelect();
    })
</script>

{% if task_id %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
    // vanilla JS version
    document.addEventListener("DOMContentLoaded", function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {
            onResult: function(resultElement, result){
                // Trigger the file download
                if (result) {
                    var downloadLink = document.createElement("a");
                    downloadLink.href = "data:application/zip;base64," + result;
                    downloadLink.download = "invoices.zip";
                    downloadLink.click();
                }
            },
            onSuccess: function(resultElement, result) {
                var message = document.querySelector('#progress-bar-message')
                message.innerHTML = '<b class="text-success">تمت العملية بنجاح...</b>'
                setTimeout(function() {
                    window.location.replace(window.location.href);
                }, 3000);
            },
            onError: function(resultElement, result) {
                var element = document.querySelector('.toast-body');
                element.innerHTML = '<b class="text-danger">حصل خطأ ما الرجاء المحاولة مرة اخرى لاحقاً .. سيتم تحويلك بشكل تلقائي.</b>';
                setTimeout(function() {
                    window.location.replace(window.location.href);
                }, 3000);
            },
            defaultMessages: {
                waiting : 'في انتظار بدء التقدم ...',
                started : 'بدأت المهمة ...',
            },
            barColors: {
                progress : '#0d6efd',
                success : '#198754',
                error : '#dc3545',
            }
        });
    });
</script>
{% endif %}

{% endblock scripts %}