body {
    color:#222;
    line-height:1.5;
    font-family: sans-serif;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
    margin: 10px 0;
}

table th, table td {
    font-size: 12px;
    padding: 5px 10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

thead tr, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

h1 {
    margin:0;
}

.secondary {
    color:#bbb;
    margin-bottom:20px;
}

.num {
    text-align:right;
}

.paid, .pending {
    color:#1bae37;
    border:4px solid #1bae37;
    text-transform:uppercase;
    font-weight:bold;
    font-size:22px;
    padding:4px 12px 0px;
    float:right;
    transform: rotate(-15deg);
    margin-right:40px;
}

.pending {
    color:#a82d2d;
    border:4px solid #a82d2d;
}

.other {
    width: 250px;
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}

.header__img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.section-hero {
    font-size: 14px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.border-bottom {
    border-bottom: 2px solid #eee;
}

.d-flex {
    display: flex;
}

.gap-3 {
    gap: 16px;
}

.m-0 {
    margin: 0;
}

.p-5 {
    padding: 5px;
}

.w-50 {
    width: 50%;
}